{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form class="form" role="form" id="address-form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address" placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" type="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <!-- TODO: Display parsed address components here. -->
      <div id="address-results" style="display:none">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address part</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <!-- <script src="{% static 'js/index.js' %}"> -->
  <script type="text/javascript">

    const handleSubmit = async (e) => {
      e.preventDefault();
      
      // save form data as FormData object, then get the input address that usaddress will parse on the backend
      const formData = new FormData(e.target);
      const address = formData.get("address");

      // URLSearchParams isn't supported by IE, but polyfills are available if that is important
      const queryParams = new URLSearchParams({ address })

      try {
        // Send GET request and convert response to json format
        let response = await fetch("/api/parse?" + queryParams)
        response = await response.json()
        
      } catch (error) {
        console.error("SUMBIT ERROR:", error)
      }
    }

    // get form element, and add 'submit' listener and handler function for submit event 
    const formRef = document.getElementById("address-form")
    formRef.addEventListener('submit', handleSubmit);
  </script>
{% endblock %}
