{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form class="form" role="form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address" placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" type="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <!-- TODO: Display parsed address components here. -->
      <div id="address-results" style="display:none">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address part</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
  var current_url=window.location.href;
  const match_string = "address=([A-Za-z0-9+]+)";
  if (current_url.match(match_string)) {
  var url= "{% url 'address-parse'  %}?"+current_url.match(match_string)[0];

  var a=fetch(url);
  var resultsPrint= document.getElementById("address-results");
  resultsPrint.style.display="table";
  var json=a.then((response)=> { return response.json();});
  json.then((data) =>{
  process_data(data);
  });
}
function process_data(data) {
    var address_type=data.address_type;
    if (address_type.startsWith("Error")){
    resultsPrint.innerHTML=address_type;
    }
    else{
    var address_components=data["address_components"];
    for(var key in address_components){
        var tableBody = resultsPrint.getElementsByTagName("tbody")[0];
      const trElement=document.createElement('tr');
      const addressPartElement=document.createElement('td');
      const tagElement=document.createElement('td');
      addressPartElement.innerHTML = address_components[key];
      tagElement.innerHTML = key;
      trElement.appendChild(addressPartElement);
      trElement.appendChild(tagElement);
      tableBody.appendChild(trElement);
    }
    document.getElementById("parse-type").innerHTML= data["address_type"];
    }
    }
  </script>
{% endblock %}

